.jp-Cell-header {
  height: auto;
}

.e2xgrader-TeacherCellToolbar {
  padding: calc(0.2 * var(--jp-private-toolbar-height));
  min-height: auto;
  width: 100%;

  .jp-Toolbar-item {
    .e2xgrader-LockIcon {
      margin-left: 0.25rem;
    }

    &[data-jp-item-name='points'] {
      margin-left: auto;
    }
  }

  .e2xgrader-TaskLink {
    padding: 0.15rem 0.4rem;
    margin: -0.15rem 0 -0.15rem 0.25rem;
    border-radius: 50rem;
    border: var(--jp-border-width) dashed currentcolor;
    cursor: pointer;

    &:hover {
      background-color: #00000010;
    }

    &.linked {
      border: none;
      background-color: var(--md-indigo-400);
      color: white;

      &:hover {
        background-color: var(--md-indigo-500);
      }
    }

    .e2xgrader-LinkIcon {
      display: inline-flex;
      align-items: center;

      --jp-inverse-layout-color3: currentcolor;
    }
  }
}

.e2xgrader-task-link-selector {
  width: 100%;
  font-size: 1rem;
}

.e2xgrader-CellLabel {
  display: flex;
  align-items: center;
}

.e2xgrader-Spacer {
  flex-grow: 1;
}

.e2xgrader-CellToolbar {
  box-shadow: none;
  border: var(--jp-border-width) solid var(--jp-border-color1);
  border-bottom: none;
}

.e2xgrader-TaskName {
  margin-left: 5px;
}

.e2xgrader-Points {
  margin-left: auto;

  > input {
    max-width: calc(4ch + 20px);
  }
}

.e2xgrader-SolutionCell {
  background: var(--jp-brand-color1);
  color: white;

  .e2xgrader-LockIcon svg {
    filter: brightness(0) invert();
  }
}

.e2xgrader-ReadOnlyCell {
  background: var(--jp-layout-color2);
}

.jp-mod-selected
  > .jp-Cell-inputWrapper
  > .jp-Cell-inputArea
  > .jp-MarkdownOutput {
  border: var(--jp-border-width) solid var(--jp-cell-editor-active-border-color);
}

.jp-RenderedMarkdown {
  border: var(--jp-border-width) solid #ddd;
}
